body {
    background-color: rgb(190, 182, 184);
}


button {
    width: 100%;
}

input[type="email"],
input[type="password"] 
{
    width: 100%;
}


.esqueceu-senha {
    float: right;
    font-size: 13px;
}

.box {
    width: 280px;
}

